.navbar {
    position: absolute;
    background-color: #0a0d14;
    width: 100%;
    top: 1%;
}

.logo img{
    top: 3;
    margin-left: 40px;
    height: 45px;
    width: 45px;
    margin-top: 30px;
    position: absolute;
}

.Home {
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 40px;
    color: white;
    position: absolute;
    margin-left: 30%;
}

.Portfolio {
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 40%;
    padding-top: 40px;
    color: white;
    position: absolute;
}

.About {
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 51.5%;
    padding-top: 40px;
    color: white;
    position: absolute;
}

.Contact {
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 63%;
    padding-top: 40px;
    color: white;
    position: absolute;
}

a {
    text-decoration: none; /* Remove underlines */
    color: white; /* Set link color */
    font-weight: bold; /* Set font weight */
    font-size: 20px;
}

/* Style for text links when hovered over */
a:hover {
    color: #ff6347; /* Change link color on hover */
}



.footer{
    color: white;
}

.Home1 {
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 300px;
    color: white;
    position: absolute;
    margin-left: 37%;
}

.Portfolio1 {
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 300px;
    color: white;
    position: absolute;
    margin-left: 50%;
}

.AboutMe1 {
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 300px;
    color: white;
    position: absolute;
    margin-left: 65%;
}

.Contact1 {
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 300px;
    color: white;
    position: absolute;
    margin-left: 80%;
}

.footerimage img{
    background-color: #0a0d14;
    position: absolute;
    width: 100%;
    height: 500px;
    padding-top: 100px;
}