.logo img{
    top: 3;
    margin-left: 40px;
    height: 45px;
    width: 45px;
    margin-top: 30px;
    position: absolute;
}

.Home {
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 40px;
    color: white;
    position: absolute;
    margin-left: 30%;
}

.Blogs {
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 40%;
    padding-top: 40px;
    color: white;
    position: absolute;
}

.About {
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 50%;
    padding-top: 40px;
    color: white;
    position: absolute;
}