* {
    padding: 0%;
    margin: 0%;
}

.Boxes {
    display: absolute;
    padding-top: 200px;
    background-color: #0a0d14;
}

.ContactMe {
    color: white;
    margin-left: 700px;
}

.Name {
    margin-left: 320px;
    margin-top: 30px;
    margin-right: 275px;
    input[type="text"] {
        padding: 10px; /* Set padding for better appearance */
        width: 930px; /* Set width as needed */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

.Subject {
    margin-left: 320px;
    margin-top: 30px;
    margin-right: 275px;
    input[type="text"] {
        padding: 10px; /* Set padding for better appearance */
        width: 930px; /* Set width as needed */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

.Email {
    margin-left: 320px;
    margin-top: 30px;
    margin-right: 275px;
    input[type="text"] {
        padding: 10px; /* Set padding for better appearance */
        width: 930px; /* Set width as needed */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

.Message {
    margin-left: 320px;
    margin-top: 30px;
    margin-right: 275px;
    input[type="text"] {
        padding: 10px; /* Set padding for better appearance */
        margin: 0%;
        width: 930px; /* Set width as needed */
        height: 200px; 
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

.Submit {
    margin-top: 30px;
    margin-right: 690px;
    margin-left: 720px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

button[type="submit"] {
    padding: 10px;
    background-color: #FF8542;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

