* {
    padding: 0%;
    margin: 0%;
}

.body {
    width: 100%;
    align-items: center;
}

.Boxes {
    padding-top: 10%;
    background-color: #0a0d14;
    justify-content: center;
}

.ContactMe {
    color: white;
    text-align: center;
}

.Name {
    text-align: center;
    margin-top: 3%;
    input {
        padding: 10px; /* Set padding for better appearance */
        width: 930px; /* Set width as needed */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

.Subject {
    text-align: center;
    margin-top: 1%;
    input {
        padding: 10px; /* Set padding for better appearance */
        width: 930px; /* Set width as needed */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

.Email {
    text-align: center;
    margin-top: 1%;
    input {
        padding: 10px; /* Set padding for better appearance */
        width: 930px; /* Set width as needed */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

.Message {
    text-align: center;
    margin-top: 1%;
    input {
        padding: 10px; /* Set padding for better appearance */
        margin: 0%;
        width: 930px; /* Set width as needed */
        height: 200px; 
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

.Submit {
    margin-top: 2%;
    text-align: center;
    font-size: 12px;
    padding-top: 3%;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

button[type="submit"] {
    padding: 10px;
    background-color: #FF8542;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

