* {
    margin: 0%;
    padding: 0%;
}

.body {
    width: 100%;
    justify-content: center;
}

.backgroundimg {
    position: absolute;
    width: 100%;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    text-align: left;
    background-color: #0a0d14;
}

.backgroundimg img{
    opacity: 50%;
    width: 100%;
}

.portfoliotext {
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 50px;
    color: #e9cdbd;
    font-family: Arial, Helvetica, sans-serif;
}

.images {
    background-color: #0a0d14;
    display: flex;
    padding-top: 50%;
    justify-content: center;
    justify-content: space-evenly;
}

.labels{
    background-color: #0a0d14;
    display: flex;
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    justify-content: space-evenly;
}

.Strumming2023{
    background-color: #FF8542;
    padding: 9px;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.Coversongs{
    background-color: #FF8542;
    color: black;
    padding: 9px;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.Originalsongs {
    background-color: #FF8542;
    color: black;
    padding: 9px;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


.banner {
    background-color: #0a0d14;
    padding-top: 100px;
    position: absolute;
    width: 100%;
}

.bannershape {
    width: 100%;
}

.bannershape img {
    width: 100%;
}

.bannertext {
    padding-left: 30%;
    position: absolute;
    font-size: 40px;
    top: 170px;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 #000, /* Top-left shadow */
        1px -1px 0 #000, /* Top-right shadow */
        -1px 1px 0 #000, /* Bottom-left shadow */
        1px 1px 0 #000; /* Bottom-right shadow */
}

.strummin {
    background-color: #0a0d14;
}

.strummincontent {
    display: flex;
    padding-top: 25%;
    color: white;
}

.strumminwords {
    margin-left: 40px;
}

.strumminrole {
    margin-left: 39%;
    font-size: 25px;
    margin-top: 10%;
}

.strummingdescription {
    padding-top: 5%;
    font-size: 30px;
    width: 80%;
    text-align: justify;
    line-height: 40px;
    margin-left: 10%;
}

.keepreading {
    color: black;
    background-color: #FF8542;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 205px ;
    font-size: 15px;
    margin-left: 17%;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
}

.coversongs{
    background-color: #0a0d14;
}

.banner1 {
    background-color: #0a0d14;
    padding-top: 6%;
    width: 100%;
}

.bannershape1 img {
    width: 100%;
}

.bannertext1 {
    padding-left: 34%;
    position: absolute;
    font-size: 40px;
    margin-top: 4%;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 #000, /* Top-left shadow */
        1px -1px 0 #000, /* Top-right shadow */
        -1px 1px 0 #000, /* Bottom-left shadow */
        1px 1px 0 #000; /* Bottom-right shadow */
}

.coversongscontent {
    display: flex;
    padding-top: 4%;
    color: white;
}

.coversongswords {
    margin-left: 4%;
}

.coversongsprocess {
    margin-left: 37%;
    font-size: 25px;
    margin-top: 7%;
}

.coversongsdescription {
    padding-top: 1%;
    font-size: 30px;
    width: 80%;
    text-align: justify;
    line-height: 40px;
    margin-left: 10%;
    margin-top: 5%;
}

.listenhere {
    color: black;
    background-color: #FF8542;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 205px ;
    font-size: 15px;
    margin-left: 18%;
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
}

.originalsongs{
    background-color: #0a0d14;
    justify-content: center;
}

.banner2 {
    background-color: #0a0d14;
    padding-top: 7%;
    position: absolute;
    width: 100%;
}

.bannershape2 img {
    width: 100%;
}

.bannertext2 {
    padding-left: 30%;
    position: absolute;
    font-size: 40px;
    padding-top: 4%;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 #000, /* Top-left shadow */
        1px -1px 0 #000, /* Top-right shadow */
        -1px 1px 0 #000, /* Bottom-left shadow */
        1px 1px 0 #000; /* Bottom-right shadow */
}

.originalsongscontent {
    display: flex;
    padding-top: 25%;
    color: white;
    background-color: #0a0d14;
}

.originalsongswords {
    margin-left: 370px;
    background-color: #0a0d14;
}

.originalsongsprocess {
    margin-left: 24%;
    font-size: 25px;
}

.originalsongsdescription {
    background-color: #0a0d14;
    padding-top: 4%;
    font-size: 30px;
    width: 60%;
    text-align: center;
    line-height: 40px;
    margin-left: 10%;
    margin-top: 0%;
}

.FollowonSpotify {
    background-color: #FF8542;
    text-align: center;
    margin-top: 3%;
    margin-left: 26%;
    margin-right: 45%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}