* 
    {
        padding: 0%;
        margin: 0%;
    }

/* homepage */ 

.body {
    width: 100%;
}

.latestrelease {
    position: absolute;
    top: 28%;
    font-size: 50px;
    color: white;
    margin-left: 10%;
    width: 100px;
}

.listenhere {
    position: absolute;
    margin-top: 28%;
    font-size: 14px;
    margin-left: 13%;
    background-color: #FF8542;
    color: black;
    padding: 9px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.queenimg {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    text-align: left;
}

.queenimg img {
    width: 100%;
    height: auto;
}

.images {
    background-color: #0a0d14;
    display: flex;
    padding-top: 50%;
    justify-content: center;
    justify-content: space-evenly;
}

.labels{
    background-color: #0a0d14;
    display: flex;
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    justify-content: space-evenly;
}

.Strumming2023{
    background-color: #FF8542;
    padding: 9px;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.Coversongs{
    background-color: #FF8542;
    color: black;
    padding: 9px;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.Originalsongs {
    background-color: #FF8542;
    color: black;
    padding: 9px;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.AboutMe {
    background-color: #0a0d14;
    padding-top: 7%;
    display: flex;
    height: auto;
    color: white;
}

.AboutmeWords {
    margin-left: 7%;
    width: 750px;
    color: white;
}

.Aboutmetitle {
    padding-left: 26%;
    font-size: 25px;
    padding-top: 9%;
    font-family: arial;
}

.Aboutmepara {
    width: 520px;
    font-size: 35px;
    padding-top: 4%;
    padding-left: 6%;
    text-align: justify;
    line-height: 1.4;
}

.keepreading {
    color: black;
    background-color: #FF8542;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 205px ;
    font-size: 15px;
    margin-left: 29%;
    margin-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
}

.subscriptionbar{
    background-color: #0a0d14;
    width: 100%;
}

.subwords {
    padding-left: 28%;
    padding-top: 10%;
    color: white;
}

.box {
    margin-left: 20%;
    margin-top: 30px;
    input[type="text"] {
        padding: 10px; /* Set padding for better appearance */
        width: 930px; /* Set width as needed */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.Submit {
    margin-left: 130%;
    margin-top: 30px;
    width: fit-content;
    padding-left: 13px;
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: absolute;
    
}

button[type="submit"] {
    padding: 10px;
    background-color: #FF8542;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

