* 
    {
        padding: 0%;
        margin: 0%;
    }

/* homepage */ 

.latestrelease {
    position: absolute;
    top: 200px;
    font-size: 50px;
    color: white;
    padding-left: 150px;
    width: 100px;
}

.listenhere {
    position: absolute;
    top: 445px;
    font-size: 14px;
    margin-left: 199px;
    background-color: #FF8542;
    color: black;
    padding: 9px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.queenimg img {
    position: absolute;
    width: 100%;
    height: 705px;
    left: 0px;
    top: 0px;
    text-align: left;
}

.images {
    background-color: #0a0d14;
    display: flex;
    justify-content: space-between;
    padding-top: 800px;
}

.strummingimg {
    display: absolute;
    margin-left: 8%;
    width: 100%;
    height: 100%;
}

.coverimg {
    display: absolute;
    margin-right: 0%;
    width: 100%;
    height: 100%;
}

.originalimg {
    display: absolute;
    width: 100%;
    height: 100%;
}

.labels{
    background-color: #0a0d14;
    display: flex;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.Strumming2023{
    display: absolute;
    margin-left: 13%;
    background-color: #FF8542;
    padding: 9px;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.Coversongs{
    display: absolute;
    margin-right: 13%;
    margin-left: 20.5%;
    background-color: #FF8542;
    color: black;
    padding: 9px;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.Originalsongs {
    display: absolute;
    background-color: #FF8542;
    color: black;
    margin-left: 8%;
    padding: 9px;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.AboutMe {
    background-color: #0a0d14;
    padding-top: 100px;
    display: flex;
    padding-left: 20px;
    color: white;
}

.AboutmeWords {
    display: absolute;
    margin-left: 100px;
    width: 750px;
    color: white;
}

.Aboutmetitle {
    padding-left: 180px;
    font-size: 25px;
    padding-top: 80px;
    font-family: arial;
}

.Aboutmepara {
    width: 520px;
    font-size: 35px;
    padding-top: 20px;
    padding-left: 40px;
    text-align: justify;
    line-height: 1.4;
}

.keepreading {
    color: black;
    background-color: #FF8542;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 205px ;
    font-size: 15px;
    margin-left: 140px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.subscriptionbar{
    background-color: #0a0d14;
}

.subwords {
    padding-left: 28%;
    padding-top: 100px;
    color: white;
}

.box {
    margin-left: 300px;
    margin-top: 30px;
    input[type="text"] {
        padding: 10px; /* Set padding for better appearance */
        width: 930px; /* Set width as needed */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.Submit {
    margin-left: 400px;
    margin-top: 30px;
    width: fit-content;
    padding-left: 13px;
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: absolute;
    
}

button[type="submit"] {
    padding: 10px;
    background-color: #FF8542;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

